<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.queue.shop.barber.barbershopqueuesystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.barber.shop.queue.system.BarberQueueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Facebook Configuration -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Twitter Configuration -->
        <activity android:name="com.firebase.ui.auth.twitter.TwitterPromptActivity" />

        <meta-data
            android:name="com.firebase.ui.TwitterKey"
            android:value="@string/twitter_app_key" />
        <meta-data
            android:name="com.firebase.ui.TwitterSecret"
            android:value="@string/twitter_app_secret" />

        <activity
            android:name="com.barber.shop.queue.system.LoginRegister.view.LoginRegisterHost"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.barber.shop.queue.system.views.activity.MainActivity"
            android:label="@string/title_activity_login_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.barber.shop.queue.system.LoginRegister.view.UserLoggedIn"
            android:label="@string/title_activity_user_logged_in"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>